# Byte-code files
*.pyc
__pycache__/
*.pyd
*.so

# Distribution / packaging
.Python
env/
venv/
bin/
include/
lib/
lib64/
local/
share/

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.tox/
.pytest_cache/

# IDE specific files
../.idea/
.vscode/
.vs/
*.swp
*.bak
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Other temporary files
*.log
*.tmp
*.sqlite3
*.db
*.env